@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


/* O:root pode ser útil para declarar uma variável CSS global: */
/* 
Variaveis para usar valores padroes do site */
:root{
    --green:#16a085;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, .2);
    --border:0.2rem solid var(--green);
}

/* Resetando ko site e colocando valores globais */
*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.4s ease-out;
    text-decoration: none;
}


html{ 
    scroll-padding-top: 7rem;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.cabecalho{
    padding: 2rem 9%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;

}

.cabecalho .logo{
    font-size: 2.5rem;
    color: var(--black);
}


.cabecalho .logo i{

    color: var(--green);
} 
.cabecalho .nav .active{
    transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
}
.cabecalho .nav a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.cabecalho .nav a:hover{
   color: var(--green);
}

#btn_menu{
    font-size: 2.5rem;
    border-radius: 0.5rem;
    background: white;
    color: var(--green);
   padding: 1rem 1.5rem;
   cursor: pointer;
    display: none;
}

@media(max-width:990px){
    html{ 
        
        font-size:55.5%;
        
    }
    .cabecalho{
        padding: 2rem;
    }
}


@media(max-width:768){

    #btn_menu{
        display: initial;
    }

    .cabecalho .nav{
        position: absolute;
        top: 115%;
        right: 2rem;
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .cabecalho .nav .active{
        transform: scale(1);
        opacity: 1;
        transition: 0.2s ease-out;
    }

    .cabecalho .nav a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }
}
@media(max-width:450px){
    html{ 
        
        font-size:50%;
        
    }
    
}




/* HOME */


.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 10rem;
}

.home .img{
    flex:1 1 45rem;
}

.home .img img{
    width: 100%;
}

.home .conteudo{
    flex:1 1 45rem;
}

.home .conteudo h3{
    font-size: 4.5rem;
    color:var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .conteudo p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}



.icones_conteudo{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icones_conteudo .icones{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

.icones_conteudo .icones i{
    font-size: 4.5rem;
    color:var(--green);
    padding-bottom: .7rem;
}

.icones_conteudo .icones h3{
    font-size: 4.5rem;
    color:var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icones_conteudo .icones p{
    font-size: 1.7rem;
    color:var(--light-color);
}



#services{
    padding:2rem 9%;
}
#services:nth-child(even){
    background: #f5f5f5;
}


.services .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
}

.services .card-container .card{
    background:#fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding: 2.5rem;
}

.services .card-container .card i{
    color: var(--green);
    font-size: 5rem;
    padding-bottom: .5rem;
}

.services .card-container .card h3{
    color: var(--black);
    font-size: 2.5rem;
    padding:1rem 0;
}

.services .card-container .card p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}




/* 
BOTAO CARDS */

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}





/* SOBRE */

.sobre .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.sobre .row .img{
    flex:1 1 45rem;
}

.sobre .row .img img{
    width: 100%;
}

.sobre .row .conteudo{
    flex:1 1 45rem;
}

.sobre .row .conteudo h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}

.sobre .row .conteudo p{
    color: var(--light-color);
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}







.doutores .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}

.doutores .card-container .card{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}

.doutores .card-container .card img{
    height: 20rem;
    border:var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.doutores .card-container .card h3{
    color:var(--black);
    font-size: 2.5rem;
}

.doutores .card-container .card span{
    color:var(--green);
    font-size: 1.5rem;
}

.doutores .card-container .card .share{
    padding-top: 2rem;
}

.doutores .card-container .card .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}

.doutores .card-container .card .share a:hover{
    background:var(--green);
    color:#fff;
    box-shadow: var(--box-shadow);
}





.livro .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
 
.livro .row .img{
    flex:1 1 45rem;
}

.livro .row .img img{
    width: 100%;
}

.livro .row form{
    flex:1 1 45rem;
    background: #fff;
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.livro .row form h3{
    color:var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.livro .row form .card{
    width: 100%;
    margin:.7rem 0;
    border-radius: .5rem;
    border:var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}

.livro .row form .btn{
    padding:1rem 4rem;
}








.review .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
}

.review .card-container .card{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2.5rem;
    background: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.review .card-container .card img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border:.5rem solid #fff;
}

.review .card-container .card h3{
    color:#fff;
    font-size: 2.2rem;
    padding:.5rem 0;
}

.review .card-container .card .stars i{
    color:#fff;
    font-size: 1.5rem;
}

.review .card-container .card .text{
    color:var(--light-color);
    line-height: 1.8;
    font-size: 1.6rem;
    padding-top: 4rem;
    text-align: justify;
}

.review .card-container .card::before{
    content: '';
    position: absolute;
    top:-4rem; 
    left: 50%;
    transform:translateX(-50%);
    background:var(--green);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 25rem;
    width: 120%;
    z-index: -1;
}






.blogs .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}

.blogs .card-container .card{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
}

.blogs .card-container .card .image{
    height: 20rem;
    overflow:hidden;
    border-radius: .5rem;
}

.blogs .card-container .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .card-container .card:hover .image img{
    transform:scale(1.2);
}

.blogs .card-container .card .content{
    padding-top: 1rem;
}

.blogs .card-container .card .content .icon{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs .card-container .card .content .icon a{
    font-size: 1.4rem;
    color: var(--light-color);
}

.blogs .card-container .card .content .icon a:hover{
    color:var(--green);
}

.blogs .card-container .card .content .icon a i{
    padding-right: .5rem;
    color: var(--green);
}

.blogs .card-container .card .content h3{
    color:var(--black);
    font-size: 3rem;
}

.blogs .card-container .card .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding:1rem 0;
}





 /* RODAPE */
/* ------------------------------------------------------ */

.footer .card-container{
    display: grid;
    /* repete a cada coluna um valor minito e maximo para separar */
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); 
    gap:2rem;
    margin: 50px 0  0 20px;
}

.footer .card-container .card h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .card-container .card a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .card-container .card a i{
    padding-right: .5rem;
    color:var(--green);
}

.footer .card-container .card a:hover i{
    padding-right:2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color:var(--green);
}








/* RESPONSIVIDADE */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .cabecalho{
        padding: 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #btn_menu{
        display: initial;
    }

    .cabecalho .nav{
        position: absolute;
        top:115%;
        right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .cabecalho .nav.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .cabecalho .nav a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}